.card-title {
    color: #0056b3; /* Custom color for card titles */
}

.btn btn-success {
    background-color: #0056b3; /* Custom color for buttons */
    border-color: #0056b3; /* Custom color for buttons */
    
    
}

